/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: $white;
  padding-top: 82px;

  h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: darken($secondary, 15);
  }

  h2 {
    color: lighten($secondary, 15);
    margin: 10px 0  30px 0;
    font-size: 24px;
  }

  .btn-get-started {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: $primary;
    box-shadow: 0 8px 28px rgba($primary, 0.45);
    &:hover {
      background: $tertiary;
      box-shadow: 0 8px 28px rgba($tertiary, 0.45);
    }
  }

  .btn-watch-video {
    font-size: 16px;
    display: inline-block;
    transition: 0.5s;
    margin-left: 25px;
    color: $secondary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    i {
      color: lighten($secondary, 20);
      font-size: 32px;
      line-height: 0;
      margin-right: 8px;
    }

    &:hover {
      i {
        color: $primary;
      }
    }
  }

  .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @media (max-width: 991px) {
    height: 100vh;

    .animated {
      animation: none;
    }

    .hero-img {
      text-align: center;
      img {
        width: 50%;
      } 
    }
  }

  @media (max-width: 768px) {
    height: auto;
    h1 {
      font-size: 28px;
      line-height: 36px;
    }
    h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    .hero-img img {
      width: 70%;
    }
     
  }

  @media (max-width: 575px) {

    .hero-img img {
      width: 80%;
    }
     
  }

}

 @keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
