/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: lighten($secondary, 55);
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: $secondary;
    position: relative;
    z-index: 2;
  }

  span {
    position: absolute;
    top: 30px;
    color: lighten($secondary, 52);
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
  }

  p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }

  @media (max-width: 575px) {
    h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }
    span {
      font-size: 38px;
    }
  }

}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services {
  padding: 0;
  
  .icon-box {
    padding: 20px;
    color: $secondary;
    background: lighten($secondary, 55);
    border-radius: 4px;
    border: 1px solid lighten($secondary, 55);
    transition: 0.3s;
    height: 100%;
  }

  .icon {
    margin: 0 0 15px 0;

    i {
      color: $primary;
      font-size: 36px;
    }

  }

  .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    a {
      color: $secondary;
      transition: 0.3s;
    }

  }

  .icon-box:hover {
    border-color: lighten($secondary, 50);
    .title  a {
      color: $primary;
    }
  }

  .description {
    line-height: 24px;
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  .content {
    h3 {
      font-weight: 700;
      font-size: 32px;
      color: $secondary;
    }
  
    ul {
      list-style: none;
      padding: 0;
      li {
        padding-bottom: 10px;
      }
      i {
        font-size: 20px;
        padding-right: 4px;
        color: $primary;
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-top: 0;

  .counters {
    span {
      font-size: 48px;
      display: block;
      color: $primary;
      font-weight: 700;
    }

    p {
      padding: 0;
      margin: 0 0 20px 0;
      font-family: $font-primary;
      font-size: 14px;
      font-weight: 600;
    }
  }

}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {

  .icon-box {
    text-align: center;
    border: 1px solid  $white;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    background: $white;

    .icon {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      transition: ease-in-out 0.3s;

      i {
        color: $primary;
        font-size: 36px;
        transition: 0.3s;
      }
  
    }

    h4 {
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 24px;
      a {
        color: $secondary;
        transition: ease-in-out 0.3s;
      }
  
    }

    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }

    &:hover {
      border-color: lighten($secondary, 50);
      h4 a {
        color: $primary;
      }
    }
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {

  #portfolio-flters {
    padding:0;
    margin:0 auto 25px auto;
    list-style:none;
    text-align:center;
    border-radius: 50px;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      color: $default;
      transition: all 0.3s ease-in-out;

      &:hover, &.filter-active {
        color: $primary;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .portfolio-item {
    margin-bottom: 30px;

    .portfolio-info {
      opacity: 0;
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0;
      z-index: 3;
      transition: all ease-in-out 0.3s;
      background: rgba($white, .9);
      padding: 15px;

      h4 {
        font-size: 18px;
        color: $white;
        font-weight: 600;
        color: $secondary;
      }

      p {
        color: lighten($secondary, 20);
        font-size: 14px;
        margin-bottom: 0;
      }

      .preview-link, .details-link {
        position: absolute;
        right: 40px;
        font-size: 24px;
        top: calc(50% - 18px);
        color: $tertiary;
        transition: 0.3s;
        &:hover {
          color: $primary;
        }
      }

      .details-link {
        right: 10px;
      }
      
    }

    &:hover {
      .portfolio-info {
        opacity: 1;
        bottom: 20px;
      }
    }
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {

  padding-top: 40px;

  .portfolio-details-slider {
    img {
      width: 100%;
    }
    .swiper-pagination {
      margin-top: 20px;
      position: relative;

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid $primary;
      }

      .swiper-pagination-bullet-active {
        background-color: $primary;
      }
    }

  }

  .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba($secondary, 0.08);

    h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: 15px;

      li +li {
        margin-top: 10px;
      }
    }
    
  }

  .portfolio-description {
    padding-top: 30px;
    
    h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      padding: 0;
    }
  }

}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {

  .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;

    .testimonial-img {
      width: 90px;
      border-radius: 50%;
      margin: -40px 0 0 40px;
      position: relative;
      z-index: 2;
      border: 6px solid $white;
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 5px 45px;
      color: #111;
    }

    h4 {
      font-size: 14px;
      color: #999;
      margin: 0 0 0 45px;
    }

    .quote-icon-left, .quote-icon-right {
      color: lighten($secondary, 48);
      font-size: 26px;
    }

    .quote-icon-left {
      display: inline-block;
      left: -5px;
      position: relative;
    }

    .quote-icon-right {
      display: inline-block;
      right: -5px;
      position: relative;
      top:10px;
    }

    p {
      font-style: italic;
      margin: 0 15px 0 15px;
      padding: 20px 20px 60px 20px;
      background: lighten($secondary, 66);
      position: relative;
      border-radius: 6px;
      position: relative;
      z-index: 1;
    }

  }

  .swiper-pagination {
    margin-top: 20px;
    position: relative;
  
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: #fff;
      opacity: 1;
      border: 1px solid $primary;
    }
  
    .swiper-pagination-bullet-active {
      background-color: $primary;
    }
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: $primary;
  background-size: cover;
  padding: 60px 0;

  h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  p {
    color: #fff;
  }

  .cta-btn {
    font-family: $font-primary;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      background: $tertiary;
      border-color: $tertiary;
    }
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {

  .member {
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 20px;
    background: $white;
    
    img {
      max-width: 100%;
      margin: 0 0 30px 0;
    }


    h4 {
      font-weight: 700;
      margin-bottom: 2px;
      font-size: 18px;
    }

    span {
      font-style: italic;
      display: block;
      font-size: 13px;
    }

    p {
      padding-top: 10px;
      font-size: 14px;
      font-style: italic;
      color: lighten($default, 40);
    }

    .social {
      margin-top: 15px;
      a {
        color: lighten($default, 30%);
        transition: 0.3s;
        &:hover {
          color: $primary;
        }

      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {

  .info {
    border-top: 3px solid $primary;;
    border-bottom: 3px solid $primary;;
    padding: 30px;
    width: 100%;
    background-color: lighten($secondary, 55);

    i {
      font-size: 20px;
      color: $primary;
      float: left;
      width: 44px;
      height: 44px;
      background: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    h4 {
      padding: 0 0 0 60px;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
      color: $secondary;
    }

    p {
      padding: 0 0 10px 60px;
      margin-bottom: 20px;
      font-size: 14px;
      color: lighten($secondary, 20);
    }

    .social-links {
      padding-left: 60px;
      a {
        font-size: 18px;
        display: inline-block;
        background: #333;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
        margin-right: 10px;
        &:hover {
          background: $primary;
          color: #fff;
        }
      }
    }

    .email:hover, .address:hover, .phone:hover {
      i {
        background: $primary;
        color: $white;
      }
    }
  }


  .php-email-form {
    width: 100%;
    border-top: 3px solid $primary;;
    border-bottom: 3px solid $primary;;
    padding: 30px;
    background-color: lighten($secondary, 55);

    .form-group {
      padding-bottom: 8px;
    }
    
    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;
      & br + br {
        margin-top: 25px;
      }
    }
    
    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }
  
    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;
  
      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        animation: animate-loading 1s linear infinite;
      }
  
    }

    input, textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      border-radius: 4px;
      &:focus {
        border-color: $primary;
      }
    }

    input {
      height: 44px;
    }

    textarea {
      padding: 10px 12px;
    }

    button[type="submit"] {
      background: $primary;
      border: 0;
      padding: 10px 24px;
      color: #fff;
      transition: 0.4s;
      border-radius: 4px;
      &:hover {
        background: $tertiary;
      }
    }
  
  }

  @keyframes animate-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: lighten($secondary, 55);
  min-height: 40px;
  margin-top: 82px;

  h2 {
    font-size: 36px;
    font-weight: 300;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    li + li {
      padding-left: 10px;
    }

    li + li::before {
      display: inline-block;
      padding-right: 10px;
      color: lighten($secondary, 10);
      content: "/";
    }
  }

  @media (max-width: 992px) {
    margin-top: 58px;
    .d-flex {
      display: block !important;

    }
    
    ol {
      display: block;
      li {
        display: inline-block;
      }
      
    }
  }
}
